{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
    <img src="{{ url_for('static', filename='images/rolling_rock_logo.gif') }}" style="max-width:200px; max-height:200px; margin-top: -7px; margin-bottom: 10px">
    </div>
    <hr>
    <div class="row">
        <div class="col text-center">
            <h1>2017 Schedule</h1>
        </div>
    </div>
    <div class="row header text-center">
        <div class="col-2"><strong>Date</strong></div>
        <div class="col-2"><strong>Time</strong></div>
        <div class="col-2"><strong>Venue</strong></div>
        <div class="col-2"><strong>Home Team</strong></div>
        <div class="col-2"><strong>Away Team</strong></div>
        <div class="col-1"></div>
    </div>
    {% for game in games %}
    <div class="row detail text-center">
        <div class="col-2">{{ game.date }}</div>
        <div class="col-2">{{ game.time }}</div>
        <div class="col-2">{{ game.venue }}</div>
        <div class="col-2">{{ game.home_team }}</div>
        <div class="col-2">{{ game.away_team }}</div>
        <div class="col-1">
            <a type="button" class="btn btn-success btn-sm" href="{{ url_for('attendance.view_game', game_id=game._id) }}">
                Attendance
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}